body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  background: #d66d75;
  background: linear-gradient(to right, #d66d75, #e29587);
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
